.about-container {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 50px 0;
  overflow-x: hidden;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.about-content {
  padding: 0 100px;
}

.about-body {
  display: flex;
}

.about-desc {
  width: 70%;
  text-align: justify;
  margin: 0 50px;
}

.about-content h3 {
  margin-bottom: 30px;
}

.about-contact {
  width: 30%;
}

.about-contact ul li {
  margin-bottom: 15px;
}

@media (max-width:767px) {
  .about-content {
    padding: 0 10%;
}

  .about-img {
    margin-bottom: 20px;
  }

  .about-desc {
    width: 100%;
    margin: 0;
  }

  .about-body {
    display: list-item;
  }

  .about-contact {
    width: 100%;
    padding-top: 30px;
    text-align: center;
  }
}