.experience-container {
  width: 100%;
  height: auto;
  background-color: #354259;
  padding: 50px 0;
}

.experience-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.experience-content {
  display: flex;
}

.experience-content h2 {
  margin-bottom: 20px;
}

.left-content {
  width: 50%;
  color: white;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid white;
}

.left-content div {
  margin-bottom: 15px;
}

.right-content{
  width: 50%;
  color: white;
  padding-left: 10px;
}