.skills-container {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 50px 100px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-container {
  width: 200px;
  height: 200px;
  margin: 10px 10px;
}

.skill-container img {
  width: 150px;
  height: 150px;
}

.skill-container p {
  margin: 5px;
  font-weight: bold;
}

@media (max-width:767px) {
  .title {
    font-size: 20px;
  }
}